TOKEN_DIGEST_KEY=REPLACE_WITH_A_UNIQUE_BASE64_32_BYTE_SECRET
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=REPLACE_WITH_A_LONG_UNIQUE_PASSWORD
POSTGRES_PASSWORD=REPLACE_WITH_A_LONG_UNIQUE_PASSWORD
RYZEAUTH_DB_PASSWORD=REPLACE_WITH_A_LONG_UNIQUE_PASSWORD
RYZEAUTH_ADMIN_CLIENT_SECRET=dev-ryzeauth-admin-secret
REDIS_PASSWORD=REPLACE_WITH_A_LONG_UNIQUE_PASSWORD
KEYCLOAK_EVENT_SIGNING_KEY=REPLACE_WITH_A_UNIQUE_BASE64_32_BYTE_SECRET
RYZEAUTH_CAPTCHA_RISK_THRESHOLD=50
RYZEAUTH_TURNSTILE_SITE_KEY=
RYZEAUTH_TURNSTILE_SECRET_KEY=
